<!--
@Author: Ismael Hadj
@Date:   2018-05-21T14:06:44+02:00
@Email:  Ismael.hadj13@yahoo.com
@Last modified by:   Ismael Hadj
@Last modified time: 2018-05-21T15:20:09+02:00
-->



<!--<div class="row">-->
<!--  <div class="col-sm-8 col-sm-offset-2">-->
    <%#= simple_form_for (travel) do |form| %>
      <%#= form.input :title%>
      <%#= form.input :destination%>
      <%#= form.input :deal%>
      <%#= form.input :deal%>
      <%#= form.input :story%>
      <%#= form.input :narrative%>
      <%#= form.file_field :photo%>
      <%#= form.button :submit %>
    <%# end %>
<!--  </div>-->
<!--</div>-->
